# Profiles


# Cache
cache/*



# Logs
logs/*

# Temporary files
kUtils.txt

# git
.git/

# IDE files
.vscode/
.idea/

results/
testdata/
# daemon process proposal
folder-structure.md
Docs/resumen_estado_modulo_actual.md
Docs/qosFlowMVP.md
Docs/architecture_migration_phase1.md
Docs/compat_cleanup_major_plan.md
Docs/features.md
Docs/features.md
Docs/implementation.md
Docs/speedProfiles.md

bug_report.md
custom.md
custom.md
